body 
    font-family: 'Lato'
    text-align: center
    padding-top: 15%
    color: #999
img 
    width 200px
    height 200px
    border-radius: 50%
    
h1 
    padding: 30px    
    transition: 0.3s
h1:hover 
    color #33453D
    cursor:pointer
    transition: 0.3s
a
    padding: 10px
    color: #999
    transition: 0.3s
a:hover
    text-decoration: none
    transition: 0.3s
    color #33453D
    
// .icon-github
//     color #33453D
// .icon-instagram
//     color #33453D
// .icon-linkedin
//     color #33453D